In [1]:
import numpy as py
import pandas as pd
import os

In [2]:
#Load 1st CSV file
df1 = pd.read_csv(r"C:\Users\reach\Dropbox\Personal\Training and Certificates\Springboard Data Science\College Scorecard Data\FieldOfStudyData1415_1516_PP.csv")

#Load 2nd CSV file
df2 = pd.read_csv(r"C:\Users\reach\Dropbox\Personal\Training and Certificates\Springboard Data Science\College Scorecard Data\FieldOfStudyData1516_1617_PP.csv")

#Load 3rd CSV file                
df3 = pd.read_csv(r"C:\Users\reach\Dropbox\Personal\Training and Certificates\Springboard Data Science\College Scorecard Data\FieldOfStudyData1617_1718_PP.csv")

#Load 4th CSV file                  
df4 = pd.read_csv(r"C:\Users\reach\Dropbox\Personal\Training and Certificates\Springboard Data Science\College Scorecard Data\FieldOfStudyData1718_1819_PP.csv")

#Load 5th CSV file
df5 = pd.read_csv(r"C:\Users\reach\Dropbox\Personal\Training and Certificates\Springboard Data Science\College Scorecard Data\FieldOfStudyData1819_1920_PP.csv")

In [3]:
# Concatenate the DataFrames along the rows
df_combined = pd.concat([df1, df2, df3, df4, df5], axis=0)

# Reset the index if needed
df_combined.reset_index(drop=True, inplace=True)

# Print the resulting DataFrame
print(df_combined)

           UNITID  OPEID6                              INSTNM  \
0        100654.0    1002            Alabama A & M University
1        100654.0    1002            Alabama A & M University
2        100654.0    1002            Alabama A & M University
3        100654.0    1002            Alabama A & M University
4        100654.0    1002            Alabama A & M University
...           ...     ...                                 ...
1161620       NaN   42640      California Southern University
1161621       NaN   42640      California Southern University
1161622       NaN   42924  Body Wisdom Massage Therapy School
1161623       NaN   42961            Madera Community College
1161624       NaN   42961            Madera Community College

                     CONTROL  MAIN  CIPCODE  \
0                     Public     1      100
1                     Public     1      101
2                     Public     1      109
3                     Public     1      110
4                     Public     1      110
...                      ...   ...      ...
1161620  Private, for-profit     1     4228
1161621  Private, for-profit     1     5138
1161622  Private, for-profit     1     5135
1161623               Public     1     2401
1161624               Public     1     5138

                                                   CIPDESC  CREDLEV  \
0                                    Agriculture, General.        3
1                    Agricultural Business and Management.        3
2                                         Animal Sciences.        3
3                             Food Science and Technology.        3
4                             Food Science and Technology.        5
...                                                    ...      ...
1161620       Clinical, Counseling and Applied Psychology.        7
1161621  Registered Nursing, Nursing Administration, Nu...        3
1161622  Somatic Bodywork and Related Therapeutic Servi...        1
1161623  Liberal Arts and Sciences, General Studies and...        2
1161624  Registered Nursing, Nursing Administration, Nu...        2

                                     CREDDESC  IPEDSCOUNT1  ...  \
0                           Bachelor’s Degree          3.0  ...
1                           Bachelor’s Degree          NaN  ...
2                           Bachelor’s Degree          4.0  ...
3                           Bachelor’s Degree          9.0  ...
4                             Master's Degree          7.0  ...
...                                       ...          ...  ...
1161620             First Professional Degree          NaN  ...
1161621                     Bachelor's Degree          NaN  ...
1161622  Undergraduate Certificate or Diploma          NaN  ...
1161623                    Associate's Degree          NaN  ...
1161624                    Associate's Degree          NaN  ...

         BBRR4_FED_COMP_N BBRR4_FED_COMP_DFLT BBRR4_FED_COMP_DLNQ  \
0                     NaN                 NaN                 NaN
1                     NaN                 NaN                 NaN
2                     NaN                 NaN                 NaN
3                     NaN                 NaN                 NaN
4                     NaN                 NaN                 NaN
...                   ...                 ...                 ...
1161620                PS                  PS                  PS
1161621                PS                  PS                  PS
1161622                PS                  PS                  PS
1161623                PS                  PS                  PS
1161624                PS                  PS                  PS

        BBRR4_FED_COMP_FBR BBRR4_FED_COMP_DFR BBRR4_FED_COMP_NOPROG  \
0                      NaN                NaN                   NaN
1                      NaN                NaN                   NaN
2                      NaN                NaN                   NaN
3                      NaN                NaN                   NaN
4                      NaN                NaN                   NaN
...                    ...                ...                   ...
1161620                 PS                 PS                    PS
1161621                 PS                 PS                    PS
1161622                 PS                 PS                    PS
1161623                 PS                 PS                    PS
1161624                 PS                 PS                    PS

        BBRR4_FED_COMP_MAKEPROG BBRR4_FED_COMP_PAIDINFULL  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
1161620                      PS                        PS
1161621                      PS                        PS
1161622                      PS                        PS
1161623                      PS                        PS
1161624                      PS                        PS

        BBRR4_FED_COMP_DISCHARGE DISTANCE
0                            NaN        1
1                            NaN        0
2                            NaN        1
3                            NaN        1
4                            NaN        1
...                          ...      ...
1161620                       PS        0
1161621                       PS        0
1161622                       PS        0
1161623                       PS        0
1161624                       PS        0

[1161625 rows x 160 columns]

In [21]:
# Concatenate the DataFrames along the rows
df_combined = pd.concat([df1, df2, df3, df4, df5], axis=0)

# Reset the index if needed
df_combined.reset_index(drop=True, inplace=True)

# Determine which rows have NaN values
nan_rows = df_combined[df_combined.isna().any(axis=1)]

# Print the rows with NaN values
print(nan_rows)

           UNITID  OPEID6                              INSTNM  \
0        100654.0    1002            Alabama A & M University
1        100654.0    1002            Alabama A & M University
2        100654.0    1002            Alabama A & M University
3        100654.0    1002            Alabama A & M University
4        100654.0    1002            Alabama A & M University
...           ...     ...                                 ...
1161620       NaN   42640      California Southern University
1161621       NaN   42640      California Southern University
1161622       NaN   42924  Body Wisdom Massage Therapy School
1161623       NaN   42961            Madera Community College
1161624       NaN   42961            Madera Community College

                     CONTROL  MAIN  CIPCODE  \
0                     Public     1      100
1                     Public     1      101
2                     Public     1      109
3                     Public     1      110
4                     Public     1      110
...                      ...   ...      ...
1161620  Private, for-profit     1     4228
1161621  Private, for-profit     1     5138
1161622  Private, for-profit     1     5135
1161623               Public     1     2401
1161624               Public     1     5138

                                                   CIPDESC  CREDLEV  \
0                                    Agriculture, General.        3
1                    Agricultural Business and Management.        3
2                                         Animal Sciences.        3
3                             Food Science and Technology.        3
4                             Food Science and Technology.        5
...                                                    ...      ...
1161620       Clinical, Counseling and Applied Psychology.        7
1161621  Registered Nursing, Nursing Administration, Nu...        3
1161622  Somatic Bodywork and Related Therapeutic Servi...        1
1161623  Liberal Arts and Sciences, General Studies and...        2
1161624  Registered Nursing, Nursing Administration, Nu...        2

                                     CREDDESC  IPEDSCOUNT1  ...  \
0                           Bachelor’s Degree          3.0  ...
1                           Bachelor’s Degree          NaN  ...
2                           Bachelor’s Degree          4.0  ...
3                           Bachelor’s Degree          9.0  ...
4                             Master's Degree          7.0  ...
...                                       ...          ...  ...
1161620             First Professional Degree          NaN  ...
1161621                     Bachelor's Degree          NaN  ...
1161622  Undergraduate Certificate or Diploma          NaN  ...
1161623                    Associate's Degree          NaN  ...
1161624                    Associate's Degree          NaN  ...

         BBRR4_FED_COMP_N BBRR4_FED_COMP_DFLT BBRR4_FED_COMP_DLNQ  \
0                     NaN                 NaN                 NaN
1                     NaN                 NaN                 NaN
2                     NaN                 NaN                 NaN
3                     NaN                 NaN                 NaN
4                     NaN                 NaN                 NaN
...                   ...                 ...                 ...
1161620                PS                  PS                  PS
1161621                PS                  PS                  PS
1161622                PS                  PS                  PS
1161623                PS                  PS                  PS
1161624                PS                  PS                  PS

        BBRR4_FED_COMP_FBR BBRR4_FED_COMP_DFR BBRR4_FED_COMP_NOPROG  \
0                      NaN                NaN                   NaN
1                      NaN                NaN                   NaN
2                      NaN                NaN                   NaN
3                      NaN                NaN                   NaN
4                      NaN                NaN                   NaN
...                    ...                ...                   ...
1161620                 PS                 PS                    PS
1161621                 PS                 PS                    PS
1161622                 PS                 PS                    PS
1161623                 PS                 PS                    PS
1161624                 PS                 PS                    PS

        BBRR4_FED_COMP_MAKEPROG BBRR4_FED_COMP_PAIDINFULL  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
1161620                      PS                        PS
1161621                      PS                        PS
1161622                      PS                        PS
1161623                      PS                        PS
1161624                      PS                        PS

        BBRR4_FED_COMP_DISCHARGE DISTANCE
0                            NaN        1
1                            NaN        0
2                            NaN        1
3                            NaN        1
4                            NaN        1
...                          ...      ...
1161620                       PS        0
1161621                       PS        0
1161622                       PS        0
1161623                       PS        0
1161624                       PS        0

[1161625 rows x 160 columns]

In [22]:
#Which columns being evaluated have NaN values that have to be dealt with

# Concatenate the DataFrames along the rows
df_combined = pd.concat([df1, df2, df3, df4, df5], axis=0)

# Reset the index if needed
df_combined.reset_index(drop=True, inplace=True)

# Specify the columns you want to check for NaN values
columns_to_check = ['DEBT_ALL_STGP_ANY_N', 'DEBT_ALL_STGP_ANY_MEAN', 'DEBT_MALE_PP_ANY_N', 'DEBT_MALE_PP_ANY_MEAN', 
                    'DEBT_MALE_PP_ANY_MDN', 'EARN_COUNT_PELL_WNE_1YR', 'EARN_PELL_WNE_MDN_1YR', 'EARN_COUNT_NOPELL_WNE_1YR', 
                    'EARN_NOPELL_WNE_MDN_1YR', 'EARN_COUNT_MALE_WNE_1YR', 'EARN_MALE_WNE_MDN_1YR', 'EARN_NOMALE_WNE_MDN_1YR',
                   'EARN_NE_MDN_3YR', 'EARN_PELL_NE_MDN_3YR', 'EARN_NOPELL_NE_MDN_3YR', 'EARN_CNTOVER150_3YR']

# Determine which rows have NaN values in the specified columns
rows_with_nan = df_combined[df_combined[columns_to_check].isna().any(axis=1)]

# Print the rows with NaN values in the specified columns
print(rows_with_nan)

           UNITID  OPEID6                              INSTNM  \
0        100654.0    1002            Alabama A & M University
1        100654.0    1002            Alabama A & M University
2        100654.0    1002            Alabama A & M University
3        100654.0    1002            Alabama A & M University
4        100654.0    1002            Alabama A & M University
...           ...     ...                                 ...
1161620       NaN   42640      California Southern University
1161621       NaN   42640      California Southern University
1161622       NaN   42924  Body Wisdom Massage Therapy School
1161623       NaN   42961            Madera Community College
1161624       NaN   42961            Madera Community College

                     CONTROL  MAIN  CIPCODE  \
0                     Public     1      100
1                     Public     1      101
2                     Public     1      109
3                     Public     1      110
4                     Public     1      110
...                      ...   ...      ...
1161620  Private, for-profit     1     4228
1161621  Private, for-profit     1     5138
1161622  Private, for-profit     1     5135
1161623               Public     1     2401
1161624               Public     1     5138

                                                   CIPDESC  CREDLEV  \
0                                    Agriculture, General.        3
1                    Agricultural Business and Management.        3
2                                         Animal Sciences.        3
3                             Food Science and Technology.        3
4                             Food Science and Technology.        5
...                                                    ...      ...
1161620       Clinical, Counseling and Applied Psychology.        7
1161621  Registered Nursing, Nursing Administration, Nu...        3
1161622  Somatic Bodywork and Related Therapeutic Servi...        1
1161623  Liberal Arts and Sciences, General Studies and...        2
1161624  Registered Nursing, Nursing Administration, Nu...        2

                                     CREDDESC  IPEDSCOUNT1  ...  \
0                           Bachelor’s Degree          3.0  ...
1                           Bachelor’s Degree          NaN  ...
2                           Bachelor’s Degree          4.0  ...
3                           Bachelor’s Degree          9.0  ...
4                             Master's Degree          7.0  ...
...                                       ...          ...  ...
1161620             First Professional Degree          NaN  ...
1161621                     Bachelor's Degree          NaN  ...
1161622  Undergraduate Certificate or Diploma          NaN  ...
1161623                    Associate's Degree          NaN  ...
1161624                    Associate's Degree          NaN  ...

         BBRR4_FED_COMP_N BBRR4_FED_COMP_DFLT BBRR4_FED_COMP_DLNQ  \
0                     NaN                 NaN                 NaN
1                     NaN                 NaN                 NaN
2                     NaN                 NaN                 NaN
3                     NaN                 NaN                 NaN
4                     NaN                 NaN                 NaN
...                   ...                 ...                 ...
1161620                PS                  PS                  PS
1161621                PS                  PS                  PS
1161622                PS                  PS                  PS
1161623                PS                  PS                  PS
1161624                PS                  PS                  PS

        BBRR4_FED_COMP_FBR BBRR4_FED_COMP_DFR BBRR4_FED_COMP_NOPROG  \
0                      NaN                NaN                   NaN
1                      NaN                NaN                   NaN
2                      NaN                NaN                   NaN
3                      NaN                NaN                   NaN
4                      NaN                NaN                   NaN
...                    ...                ...                   ...
1161620                 PS                 PS                    PS
1161621                 PS                 PS                    PS
1161622                 PS                 PS                    PS
1161623                 PS                 PS                    PS
1161624                 PS                 PS                    PS

        BBRR4_FED_COMP_MAKEPROG BBRR4_FED_COMP_PAIDINFULL  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
1161620                      PS                        PS
1161621                      PS                        PS
1161622                      PS                        PS
1161623                      PS                        PS
1161624                      PS                        PS

        BBRR4_FED_COMP_DISCHARGE DISTANCE
0                            NaN        1
1                            NaN        0
2                            NaN        1
3                            NaN        1
4                            NaN        1
...                          ...      ...
1161620                       PS        0
1161621                       PS        0
1161622                       PS        0
1161623                       PS        0
1161624                       PS        0

[672014 rows x 160 columns]

In [4]:
#DEBT_ALL_STGP_ANY_N (Borrower count for average/median Stafford and Grad PLUS loan debt disbursed at this institution)

# Concatenate the DataFrames along the rows
df_combined = pd.concat([df1, df2, df3, df4, df5], axis=0)

# Reset the index if needed
df_combined.reset_index(drop=True, inplace=True)

# Convert the 'DEBT_ALL_STGP_ANY_N' column to numeric, coercing errors to NaN
df_combined['DEBT_ALL_STGP_ANY_N'] = pd.to_numeric(df_combined['DEBT_ALL_STGP_ANY_N'], errors='coerce')

# Drop rows with NaN values in 'DEBT_ALL_STGP_ANY_N' column if necessary
df_combined = df_combined.dropna(subset=['DEBT_ALL_STGP_ANY_N'])

# Calculate the desired statistics for the column 'DEBT_ALL_STGP_ANY_N'
min_value = df_combined['DEBT_ALL_STGP_ANY_N'].min()
max_value = df_combined['DEBT_ALL_STGP_ANY_N'].max()
mode_value = df_combined['DEBT_ALL_STGP_ANY_N'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['DEBT_ALL_STGP_ANY_N'].median()
mean_value = df_combined['DEBT_ALL_STGP_ANY_N'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 10.0
Maximum: 12823.0
Mode: 10.0
Median: 36.0
Mean: 116.29913902863176

In [5]:
#DEBT_ALL_STGP_ANY_MEAN (Average Stafford and Grad PLUS loan debt disbursed at this institution)

# Convert the 'DEBT_ALL_STGP_ANY_MEAN' column to numeric, coercing errors to NaN
df_combined['DEBT_ALL_STGP_ANY_MEAN'] = pd.to_numeric(df_combined['DEBT_ALL_STGP_ANY_MEAN'], errors='coerce')

# Drop rows with NaN values in 'DEBT_ALL_STGP_ANY_MEAN' column if necessary
df_combined = df_combined.dropna(subset=['DEBT_ALL_STGP_ANY_MEAN'])

# Calculate the desired statistics for the column 'DEBT_ALL_STGP_ANY_MEAN'
min_value = df_combined['DEBT_ALL_STGP_ANY_MEAN'].min()
max_value = df_combined['DEBT_ALL_STGP_ANY_MEAN'].max()
mode_value = df_combined['DEBT_ALL_STGP_ANY_MEAN'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['DEBT_ALL_STGP_ANY_MEAN'].median()
mean_value = df_combined['DEBT_ALL_STGP_ANY_MEAN'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 1936.0
Maximum: 54258.0
Mode: 43531.0
Median: 21871.0
Mean: 22033.73532684117

In [6]:
#DEBT_MALE_PP_ANY_N (Student recipient count for average/median Parent PLUS loan debt disbursed to males at all institutions)

# Convert the 'DEBT_MALE_PP_ANY_N' column to numeric, coercing errors to NaN
df_combined['DEBT_MALE_PP_ANY_N'] = pd.to_numeric(df_combined['DEBT_MALE_PP_ANY_N'], errors='coerce')

# Drop rows with NaN values in 'DEBT_MALE_PP_ANY_N' column if necessary
df_combined = df_combined.dropna(subset=['DEBT_MALE_PP_ANY_N'])

# Calculate the desired statistics for the column 'DEBT_ALL_STGP_ANY_MEAN'
min_value = df_combined['DEBT_MALE_PP_ANY_N'].min()
max_value = df_combined['DEBT_MALE_PP_ANY_N'].max()
mode_value = df_combined['DEBT_MALE_PP_ANY_N'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['DEBT_MALE_PP_ANY_N'].median()
mean_value = df_combined['DEBT_MALE_PP_ANY_N'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 10.0
Maximum: 1935.0
Mode: 10.0
Median: 21.0
Mean: 41.9388715386217

In [7]:
#DEBT_MALE_PP_ANY_MEAN (Average Parent PLUS loan debt disbursed to males at all institutions)

# Convert the 'DEBT_MALE_PP_ANY_MEAN' column to numeric, coercing errors to NaN
df_combined['DEBT_MALE_PP_ANY_MEAN'] = pd.to_numeric(df_combined['DEBT_MALE_PP_ANY_MEAN'], errors='coerce')

# Drop rows with NaN values in 'DEBT_MALE_PP_ANY_MEAN' column if necessary
df_combined = df_combined.dropna(subset=['DEBT_MALE_PP_ANY_MEAN'])

# Calculate the desired statistics for the column 'DEBT_MALE_PP_ANY_MEAN'
min_value = df_combined['DEBT_MALE_PP_ANY_MEAN'].min()
max_value = df_combined['DEBT_MALE_PP_ANY_MEAN'].max()
mode_value = df_combined['DEBT_MALE_PP_ANY_MEAN'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['DEBT_MALE_PP_ANY_MEAN'].median()
mean_value = df_combined['DEBT_MALE_PP_ANY_MEAN'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 3328.0
Maximum: 126015.0
Mode: 13397.0
Median: 24475.5
Mean: 27484.47575875109

In [8]:
#DEBT_MALE_PP_ANY_MDN (Median Parent PLUS loan debt disbursed to males at all institutions)

# Convert the 'DEBT_MALE_PP_ANY_MDN' column to numeric, coercing errors to NaN
df_combined['DEBT_MALE_PP_ANY_MDN'] = pd.to_numeric(df_combined['DEBT_MALE_PP_ANY_MDN'], errors='coerce')

# Drop rows with NaN values in 'DEBT_MALE_PP_ANY_MDN' column if necessary
df_combined = df_combined.dropna(subset=['DEBT_MALE_PP_ANY_MDN'])

# Calculate the desired statistics for the column 'DEBT_MALE_PP_ANY_MDN'
min_value = df_combined['DEBT_MALE_PP_ANY_MDN'].min()
max_value = df_combined['DEBT_MALE_PP_ANY_MDN'].max()
mode_value = df_combined['DEBT_MALE_PP_ANY_MDN'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['DEBT_MALE_PP_ANY_MDN'].median()
mean_value = df_combined['DEBT_MALE_PP_ANY_MDN'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 2681.0
Maximum: 121621.0
Mode: 8000.0
Median: 19342.0
Mean: 22854.82828888223

In [9]:
#EARN_COUNT_PELL_WNE_1YR 
"""
    Number of graduates who received a Pell Grant 
     and were working and not enrolled
    1 year after completing highest credential
"""

# Convert the 'EARN_COUNT_PELL_WNE_1YR' column to numeric, coercing errors to NaN
df_combined['EARN_COUNT_PELL_WNE_1YR'] = pd.to_numeric(df_combined['EARN_COUNT_PELL_WNE_1YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_COUNT_PELL_WNE_1YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_COUNT_PELL_WNE_1YR'])

# Calculate the desired statistics for the column 'EARN_COUNT_PELL_WNE_1YR'
min_value = df_combined['EARN_COUNT_PELL_WNE_1YR'].min()
max_value = df_combined['EARN_COUNT_PELL_WNE_1YR'].max()
mode_value = df_combined['EARN_COUNT_PELL_WNE_1YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_COUNT_PELL_WNE_1YR'].median()
mean_value = df_combined['EARN_COUNT_PELL_WNE_1YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 17.0
Maximum: 6877.0
Mode: 182.0
Median: 215.0
Mean: 569.4859209506587

In [10]:
#EARN_PELL_WNE_MDN_1YR
"""
    (Median earnings of graduates who received a Pell Grant
    and were working and not enrolled 1 year after completing highest credential)
"""

# Convert the 'EARN_PELL_WNE_MDN_1YR' column to numeric, coercing errors to NaN
df_combined['EARN_PELL_WNE_MDN_1YR'] = pd.to_numeric(df_combined['EARN_PELL_WNE_MDN_1YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_PELL_WNE_MDN_1YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_PELL_WNE_MDN_1YR'])

# Calculate the desired statistics for the column 'EARN_PELL_WNE_MDN_1YR'
min_value = df_combined['EARN_PELL_WNE_MDN_1YR'].min()
max_value = df_combined['EARN_PELL_WNE_MDN_1YR'].max()
mode_value = df_combined['EARN_PELL_WNE_MDN_1YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_PELL_WNE_MDN_1YR'].median()
mean_value = df_combined['EARN_PELL_WNE_MDN_1YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 11696
Maximum: 109958
Mode: 46162
Median: 34906.0
Mean: 37770.18057349522

In [11]:
#EARN_COUNT_NOPELL_WNE_1YR 
"""
    (Number of graduates who did not receive a Pell Grant and
    were working and not enrolled 1 year after completing highest credential)
"""

# Convert the 'EARN_COUNT_NOPELL_WNE_1YR' column to numeric, coercing errors to NaN
df_combined['EARN_COUNT_NOPELL_WNE_1YR'] = pd.to_numeric(df_combined['EARN_COUNT_NOPELL_WNE_1YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_COUNT_NOPELL_WNE_1YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_COUNT_NOPELL_WNE_1YR'])

# Calculate the desired statistics for the column 'EARN_COUNT_NOPELL_WNE_1YR'
min_value = df_combined['EARN_COUNT_NOPELL_WNE_1YR'].min()
max_value = df_combined['EARN_COUNT_NOPELL_WNE_1YR'].max()
mode_value = df_combined['EARN_COUNT_NOPELL_WNE_1YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_COUNT_NOPELL_WNE_1YR'].median()
mean_value = df_combined['EARN_PELL_WNE_MDN_1YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 16.0
Maximum: 2510.0
Mode: 156.0
Median: 121.0
Mean: 38023.12404328319

In [12]:
#EARN_NOPELL_WNE_MDN_1YR
"""
    (Median earnings of graduates who did not receive a Pell Grant
    and were working and not enrolled 1 year after completing highest credential)
"""

# Convert the 'EARN_NOPELL_WNE_MDN_1YR' column to numeric, coercing errors to NaN
df_combined['EARN_NOPELL_WNE_MDN_1YR'] = pd.to_numeric(df_combined['EARN_NOPELL_WNE_MDN_1YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_NOPELL_WNE_MDN_1YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_NOPELL_WNE_MDN_1YR'])

# Calculate the desired statistics for the column 'EARN_NOPELL_WNE_MDN_1YR'
min_value = df_combined['EARN_NOPELL_WNE_MDN_1YR'].min()
max_value = df_combined['EARN_NOPELL_WNE_MDN_1YR'].max()
mode_value = df_combined['EARN_NOPELL_WNE_MDN_1YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_NOPELL_WNE_MDN_1YR'].median()
mean_value = df_combined['EARN_NOPELL_WNE_MDN_1YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 11305
Maximum: 107823
Mode: 73996
Median: 38105.0
Mean: 42199.7648456057

In [13]:
#EARN_COUNT_MALE_WNE_1YR (Number of male graduates working and not enrolled 1 year after completing highest credential)

# Convert the 'EARN_COUNT_MALE_WNE_1YR' column to numeric, coercing errors to NaN
df_combined['EARN_COUNT_MALE_WNE_1YR'] = pd.to_numeric(df_combined['EARN_COUNT_MALE_WNE_1YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_COUNT_MALE_WNE_1YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_COUNT_MALE_WNE_1YR'])

# Calculate the desired statistics for the column 'EARN_COUNT_MALE_WNE_1YR'
min_value = df_combined['EARN_COUNT_MALE_WNE_1YR'].min()
max_value = df_combined['EARN_COUNT_MALE_WNE_1YR'].max()
mode_value = df_combined['EARN_COUNT_MALE_WNE_1YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_COUNT_MALE_WNE_1YR'].median()
mean_value = df_combined['EARN_COUNT_MALE_WNE_1YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 17.0
Maximum: 4070.0
Mode: 127.0
Median: 137.0
Mean: 292.37549616300606

In [14]:
#EARN_MALE_WNE_MDN_1YR 
"""
    (Median earnings of male graduates working and not enrolled 
    1 year after completing highest credential)
"""

# Convert the 'EARN_MALE_WNE_MDN_1YR' column to numeric, coercing errors to NaN
df_combined['EARN_MALE_WNE_MDN_1YR'] = pd.to_numeric(df_combined['EARN_MALE_WNE_MDN_1YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_MALE_WNE_MDN_1YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_MALE_WNE_MDN_1YR'])

# Calculate the desired statistics for the column 'EARN_MALE_WNE_MDN_1YR'
min_value = df_combined['EARN_MALE_WNE_MDN_1YR'].min()
max_value = df_combined['EARN_MALE_WNE_MDN_1YR'].max()
mode_value = df_combined['EARN_MALE_WNE_MDN_1YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_MALE_WNE_MDN_1YR'].median()
mean_value = df_combined['EARN_MALE_WNE_MDN_1YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 12829
Maximum: 129275
Mode: 57141
Median: 37848.0
Mean: 40868.650965863984

In [15]:
#EARN_NOMALE_WNE_MDN_1YR 
"""
    (Median earnings of non-male graduates working and not 
    enrolled 1 year after completing highest credential)
"""

# Convert the 'EARN_NOMALE_WNE_MDN_1YR' column to numeric, coercing errors to NaN
df_combined['EARN_NOMALE_WNE_MDN_1YR'] = pd.to_numeric(df_combined['EARN_NOMALE_WNE_MDN_1YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_NOMALE_WNE_MDN_1YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_NOMALE_WNE_MDN_1YR'])

# Calculate the desired statistics for the column 'EARN_NOMALE_WNE_MDN_1YR'
min_value = df_combined['EARN_NOMALE_WNE_MDN_1YR'].min()
max_value = df_combined['EARN_NOMALE_WNE_MDN_1YR'].max()
mode_value = df_combined['EARN_NOMALE_WNE_MDN_1YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_NOMALE_WNE_MDN_1YR'].median()
mean_value = df_combined['EARN_NOMALE_WNE_MDN_1YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 12089.0
Maximum: 102466.0
Mode: 44509.0
Median: 34545.0
Mean: 38012.12046597829

In [16]:
#EARN_NE_MDN_3YR (Median earnings of graduates not enrolled 3 years after completing highest credential)

# Convert the 'EARN_NE_MDN_3YR' column to numeric, coercing errors to NaN
df_combined['EARN_NE_MDN_3YR'] = pd.to_numeric(df_combined['EARN_NE_MDN_3YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_NE_MDN_3YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_NE_MDN_3YR'])

# Calculate the desired statistics for the column 'EARN_NE_MDN_3YR'
min_value = df_combined['EARN_NE_MDN_3YR'].min()
max_value = df_combined['EARN_NE_MDN_3YR'].max()
mode_value = df_combined['EARN_NE_MDN_3YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_NE_MDN_3YR'].median()
mean_value = df_combined['EARN_NE_MDN_3YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 13793.0
Maximum: 121792.0
Mode: 48830.0
Median: 42205.5
Mean: 44473.58395721925

In [17]:
#EARN_PELL_NE_MDN_3YR 
"""
    (Median earnings of graduates who received a Pell Grant 
    and were not enrolled 3 years after completing highest credential)
"""

# Convert the 'EARN_PELL_NE_MDN_3YR' column to numeric, coercing errors to NaN
df_combined['EARN_PELL_NE_MDN_3YR'] = pd.to_numeric(df_combined['EARN_PELL_NE_MDN_3YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_PELL_NE_MDN_3YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_PELL_NE_MDN_3YR'])

# Calculate the desired statistics for the column 'EARN_PELL_NE_MDN_3YR'
min_value = df_combined['EARN_PELL_NE_MDN_3YR'].min()
max_value = df_combined['EARN_PELL_NE_MDN_3YR'].max()
mode_value = df_combined['EARN_PELL_NE_MDN_3YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_PELL_NE_MDN_3YR'].median()
mean_value = df_combined['EARN_PELL_NE_MDN_3YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 13710.0
Maximum: 121652.0
Mode: 44513.0
Median: 40729.0
Mean: 42667.70284793122

In [18]:
#EARN_NOPELL_NE_MDN_3YR 
"""
    (Median earnings of graduates who did not receive a Pell Grant 
    and were not enrolled 3 years after completing highest credential)
"""

# Convert the 'EARN_NOPELL_NE_MDN_3YR' column to numeric, coercing errors to NaN
df_combined['EARN_NOPELL_NE_MDN_3YR'] = pd.to_numeric(df_combined['EARN_NOPELL_NE_MDN_3YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_NOPELL_NE_MDN_3YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_NOPELL_NE_MDN_3YR'])

# Calculate the desired statistics for the column 'EARN_NOPELL_NE_MDN_3YR'
min_value = df_combined['EARN_NOPELL_NE_MDN_3YR'].min()
max_value = df_combined['EARN_NOPELL_NE_MDN_3YR'].max()
mode_value = df_combined['EARN_NOPELL_NE_MDN_3YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_NOPELL_NE_MDN_3YR'].median()
mean_value = df_combined['EARN_NOPELL_NE_MDN_3YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 16515.0
Maximum: 122152.0
Mode: 74882.0
Median: 46887.0
Mean: 49600.78610503282

In [19]:
#EARN_CNTOVER150_3YR 
"""
    (Number of graduates working and not enrolled who earned 
    more than 150% of the single-person household poverty 
    threshold 3 years after completing highest credential.)
"""

# Convert the 'EARN_CNTOVER150_3YR' column to numeric, coercing errors to NaN
df_combined['EARN_CNTOVER150_3YR'] = pd.to_numeric(df_combined['EARN_CNTOVER150_3YR'], errors='coerce')

# Drop rows with NaN values in 'EARN_CNTOVER150_3YR' column if necessary
df_combined = df_combined.dropna(subset=['EARN_CNTOVER150_3YR'])

# Calculate the desired statistics for the column 'EARN_CNTOVER150_3YR'
min_value = df_combined['EARN_CNTOVER150_3YR'].min()
max_value = df_combined['EARN_CNTOVER150_3YR'].max()
mode_value = df_combined['EARN_CNTOVER150_3YR'].mode()[0]  # mode() returns a Series, take the first value
median_value = df_combined['EARN_CNTOVER150_3YR'].median()
mean_value = df_combined['EARN_CNTOVER150_3YR'].mean()

# Print the results
print(f"Minimum: {min_value}")
print(f"Maximum: {max_value}")
print(f"Mode: {mode_value}")
print(f"Median: {median_value}")
print(f"Mean: {mean_value}")

Minimum: 19
Maximum: 8382
Mode: 8382
Median: 247.0
Mean: 668.7992341356673

In [20]:
#Identify columns of information
#Clean data remove NaN and other fields